/* reports table for index pages */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.rp-table {
  width: 100%;
  margin-bottom: 20px;
}

.rp-table th, .rp-table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.rp-table th {
  font-weight: bold;
}

.rp-table thead th {
  vertical-align: bottom;
}

.rp-table caption + thead tr:first-child th,
.rp-table caption + thead tr:first-child td,
.rp-table colgroup + thead tr:first-child th,
.rp-table colgroup + thead tr:first-child td,
.rp-table thead:first-child tr:first-child th,
.rp-table thead:first-child tr:first-child td {
  border-top: 0;
}

.rp-table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.rp-table {
  background-color: #ffffff;
}

.rp-table th, .rp-table td {
  padding: 4px 5px
}

.rp-table th {
  text-align: left;
  background-color: lightblue;
}

.rp-table tr > td {
  text-align: left;
}

.rp-modal-table tr > td {
  border-top: none;
  width: 50%;
}

/* form styling */
form.rp-form-horizontal{
  margin: 0 0 20px;
  background-color: #F6F6F6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #CCC solid;
  padding: 20px 10px;
  overflow: hidden;
}

.rp-form-horizontal .rp-control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.rp-form-horizontal .rp-control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
}

/* button styling */
.rp-btn {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	white-space: nowrap;
}

.rp-btn:hover,
.rp-btn:focus,
.rp-btn:active,
.rp-btn.active,
.rp-btn.disabled,
.rp-btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
	

.rp-btn:active,
.rp-btn.active {
  background-color: #cccccc \9;
}


.rp-btn:first-child {
  *margin-left: 0;
}


.rp-btn:hover,
.rp-btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}


.rp-btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.rp-btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.rp-btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #194b65;
    background-image: -moz-linear-gradient(top, #035e8f, #194b65);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#035e8f), to(#194b65));
    background-image: -webkit-linear-gradient(top, #035e8f, #194b65);
    background-image: -o-linear-gradient(top, #035e8f, #194b65);
    background-image: linear-gradient(to bottom, #035e8f, #194b65);
    background-repeat: repeat-x;
    border-color: #194b65 #194b65 #194b65;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.rp-btn-primary:hover,
.rp-btn-primary:focus,
.rp-btn-primary:active,
.rp-btn-primary.active,
.rp-btn-primary.disabled,
.rp-btn-primary[disabled] {
  color: #ffffff;
  background-color: #194b65;
  *background-color: #194b65;
}


.rp-btn-primary:active {
  background-color: #003399;
}

