.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3#myModalLabel New Authorized User
  .modal-body
    = render 'rp/authorized_users/form', authorized_user: authorized_user